body {
	background-color: #ceeef9;
	color: darkblue;
}

.border {
	border: 1px solid darkblue;
}

.hidden {
	display: none;
}

.title {
	border: 1px solid darkblue;
	background-color: #a0d4e4;
	padding: 1em;
	margin: 1em;
}

nav {
	/* padding: 1em; */
	margin: 1em;
}

.center {
	text-align: center;
	text-decoration: underline;
}
.content {
	/* padding: 1em; */
	margin: 1em;
}

#body {
	margin: 0;
	background-color: #daf0f7;
	border: 1px solid darkblue;
	padding: .5em;
	margin: 1em;
	margin-left: .5em;
	margin-right: .5em;
}

#new_title {
	width: 80%;
	height: 3em;
}
#new_body {
	width: 99%;
	height: 99%;
}

#new_body_p {
	width: 99%;
	height: 80vh;
}

.comment {
	border: 1px solid darkblue;
	background-color: #a0d4e4;
	padding: 1em;
	margin: 1em;
}
