<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Blerg!</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <!-- Add additional CSS in static file -->


  {% load static %}
	{%  load check_group %}
  {% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{%static 'style.css' %}"/>
	{% endblock %}
	{% block extrastyles %}{% endblock %}
</head>
<body>
	{% block nav %}
	<nav>
		<h1>Blerg!</h1>
		<ul class="sidebar-nav">
			<a href="{% url 'blerg_app:index' %}">Home</a></br>
			{% if user.is_authenticated %}
				{% if user|in_Posters_group %}
				<a href="{% url 'blerg_app:new_post' %}">Create Post</a></br>
				{% endif %}
				<a href="{% url 'logout' %}">Logout</a></br>
			{% else %}
				<a href="{% url 'register' %}">Register</a></br>
				<a href="{% url 'login' %}">Login</a></br>
				{% endif %}
		</ul>
	</nav>
	{% endblock %}


    {% block sidebar %}{% endblock %}

{% block content %}{% endblock %}

</body>
</html>
